.div0{
  width:200px;
  /* height:150px; */
  border:1px solid #000;
  text-align:center;
  position: relative;
}
.redbox{
  width:30px;
  height:30px;
  background:#c00;
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
}
/* .greenbox{
  width:30px;
  height:60px;
  background:#0c0;
  display:inline-block;
  vertical-align:middle;
}
.bluebox{
  width:30px;
  height:40px;
  background:#00f;
  display:inline-block;
  vertical-align:bottom;
} */